<head>
    <title>Open Courts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
</head>

<body ng-app="open_courts"
      layout="row">


<md-sidenav md-is-locked-open="$mdMedia('gt-sm')"
            class="md-whiteframe-z2"
            md-component-id="left"
            ui-view="sidebar-left">
</md-sidenav>



<md-content flex
            ui-view="map">
</md-content>



<md-sidenav class="md-sidenav-right md-whiteframe-z2"
            md-component-id="right"
            md-is-locked-open="true">

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">New court</h1>
    </md-toolbar>

    <md-content>
        <div class="box">
        <pre>
            {{ vm.court }}
        </pre>

            <div layout="row">

                <md-input-container flex>
                    <label>Description</label>
                    <textarea ng-model="vm.court.description"
                              columns="1"></textarea>
                </md-input-container>

            </div>

            <md-button ng-click="vm.add()">Create</md-button>
            <md-button ng-click="vm.add()">Cancel</md-button>

        </div>
    </md-content>

</md-sidenav>




</body>