<pre>
    {{ vm.newCourt }}
</pre>

<md-button ng-click="vm.getLocation()"
           class="md-raised">Locate me</md-button>

<ui-gmap-google-map center="vm.newCourt.location || vm.mapDefaults.center"
                    events="vm.mapDefaults.events"
                    zoom="vm.mapDefaults.zoom">

    <ui-gmap-marker coords="vm.newCourt.location" options="vm.mapDefaults.marker.options"
                    events="vm.mapDefaults.marker.events" idkey="vm.newCourt._id">
    </ui-gmap-marker>

</ui-gmap-google-map>
