<div layout="column">

    <div layout-padding class="box--primary">
        <h1>Open Courts</h1>
        <p>lots of interesting text here.</p>
    </div>

</div>
<!--<div layout="row">-->

    <!--<md-card flex="60">-->
        <!--<md-card-content layout="row">-->
            <!--<md-input-container flex>-->
                <!--<label>Where are you?</label>-->
                <!--<input ng-model="user.firstName" placeholder="i.e. Wapping, London">-->
            <!--</md-input-container>-->

            <!--<md-select placeholder="Court" ng-model="ctrl.userState">-->
                <!--<md-option value="'basketball'">Basketball</md-option>-->
                <!--<md-option value="'tennis'">Tennis</md-option>-->
            <!--</md-select>-->
        <!--</md-card-content>-->
        <!--<div class="md-actions"-->
             <!--layout-margin>-->
            <!--<md-button>Find courts</md-button>-->
        <!--</div>-->
    <!--</md-card>-->

    <!--<md-card flex class="md-hue-1">-->
        <!--<md-card-content>-->
            <!--Stuff & things-->
        <!--</md-card-content>-->
    <!--</md-card>-->

<!--</div>-->